@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --normal: Verdana, Geneva, Tahoma, sans-serif;
    --titulo: 'Passion- One', cursive;
    --poema: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--titulo);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: var(--normal);
}
section > p{
    padding-bottom: 2em;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--poema);
    font-size: 2.5vw;
}
section > p.imagem{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 5px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color:  red;
    color: white;
}
#img{
    background-color: white;
    background-image: url(background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 3px 3px 10px black;
    height: 500px;
}
#img2{
    background-color: white;
    background-image: url(background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 3px 3px 10px black;
    height: 500px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: var(--normal);
}