body{
    background-color: lightyellow;
    margin: 0px;
    padding: 0px;
}
header{
    margin-top: -22px;
    height: 100px;
    background-color: khaki;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px
}
h1{
    font: normal 600 2em Arial;
    padding: 30px;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}
main{
    margin: auto;
    background-color: white;
    background-image: url(background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 3px 3px 10px black;
    width: 1200px;
    height: 900px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
section{
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    height: 500px;
    width: 500px;
    background-color: white;
}
caption{
    font: normal 600 1.5em Arial;
}
table{
    border-collapse: collapse;
    width: 200px;
    margin: 50px auto auto auto;
}
td, th{
    text-align: center;
    border: 2px solid black;
}