body{
    text-align: center;
}
table{
    border: 3px solid black;
    width: 500px;
    border-collapse: collapse;
    margin: auto;
}
td{
    border: 2px solid black;
    padding: 10px;
    text-align: justify;
}
.cinza{
    background-color: grey;
}
.amarelo{
    background-color: yellow;
}
.diferente > td{
    text-align: right;
}